#shoses-trendings{
    margin-top: 60px;
    .shoses-trendings{
        h3{
            font-size: 56px !important;
            font-family: "Caveat", cursive;
        }h5{
            font-size: 56px !important;
            font-family: "Caveat", cursive;
        }
        img{
            width: 500px;
            height: 500px;
            object-fit: contain;
            // border-radius: 50%;
            overflow: hidden;
            transition: 0.5s;
            &:hover{
                transform: scale(1.1);
            }
            @media only screen and (max-width: 576px) {
                width: 300px;
              }
              @media only screen and (max-width: 320px) {
                width: 200px;
              }
        }
        p{
            font-size: 23px;
            font-family: "Caveat", cursive;
        }
    }
}