@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Poppins:wght@100;200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none !important;
  text-decoration: none !important;
  outline: none;
}

body {
  line-height: 1.5;
}

::before,
::after {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

header {
  position: fixed;
  display: block;
  width: 100%;
  z-index: 99;
  padding: 15px;
}
header .res-row {
  display: none;
}
@media only screen and (max-width: 992px) {
  header .res-row {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .res-row .logo a {
    font-size: 30px;
    font-weight: 700;
    color: #000000;
  }
  header .res-row nav {
    background-color: red;
    padding: 7px 10px;
    position: absolute;
    top: 30px;
    right: 0;
  }
  header .res-row nav ul {
    margin: 0;
  }
  header .res-row nav ul li {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  header .res-row nav ul li a {
    color: black;
  }
}
header .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  header .row {
    display: none;
  }
}
header .row .fa-xmark {
  width: 0;
}
header .row .fa-bars {
  display: none;
}
@media only screen and (max-width: 992px) {
  header .row .fa-bars {
    display: block;
  }
}
header .row .item-left {
  flex: 0 0 17%;
}
header .row .item-left .logo a {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
}
header .row .item-center {
  flex: 0 0 66%;
}
header .row .item-center .menu.show {
  display: block;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 97px;
}
header .row .item-center .menu ul {
  margin-bottom: 0;
}
header .row .item-center .menu ul .menu-item-has-childeren .sub-menu.mega-menu {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 19px;
}
header .row .item-center .menu ul .menu-item-has-childeren .sub-menu.mega-menu .list-item {
  flex: 0 0 25%;
  padding: 0 15px;
}
header .row .item-center .menu ul .menu-item-has-childeren .sub-menu.mega-menu .list-item .text-center {
  text-align: center;
}
header .row .item-center .menu ul .menu-item-has-childeren .sub-menu.mega-menu .list-item ul li {
  line-height: 1;
  display: block;
}
header .row .item-center .menu ul .menu-item-has-childeren .sub-menu.mega-menu .list-item ul li a {
  padding: 10px 0;
  display: inline-block;
  font-size: 15px;
  color: #555555;
}
header .row .item-center .menu ul .menu-item-has-childeren .sub-menu.mega-menu .list-item .title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: 10px 0;
}
header .row .item-center .menu ul .menu-item-has-childeren .sub-menu.mega-menu .list-item img {
  max-width: 400px;
  width: 100%;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 10px;
}
header .row .item-center .menu ul .menu-item-has-childeren:hover .sub-menu {
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}
header .row .item-center .menu ul .menu-item-has-childeren .sub-menu {
  position: absolute;
  z-index: 500;
  background-color: #ffffff;
  box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
  min-width: 280px;
  max-width: 350px;
  padding: 20px 30px;
  transition: all 0.5s ease;
  margin-top: 25px;
  opacity: 0;
  visibility: hidden;
}
header .row .item-center .menu ul .menu-item-has-childeren .sub-menu ul {
  display: flex;
  flex-direction: column;
}
header .row .item-center .menu ul .menu-item-has-childeren .sub-menu ul li {
  line-height: 1;
}
header .row .item-center .menu ul .menu-item-has-childeren .sub-menu ul li a {
  display: inline-block;
  padding: 10px 0;
  font-size: 15px;
  color: #555555;
  transition: color 0.5s ease;
}
header .row .item-center .menu ul .menu-item-has-childeren .sub-menu ul li a:hover {
  color: black;
}
header .row .item-center .menu ul li {
  display: inline-block;
  line-height: 50px;
  margin-left: 25px;
}
header .row .item-center .menu ul li a {
  font-size: 15px;
  font-weight: 500;
  color: #000000;
  position: relative;
  text-transform: capitalize;
  transition: color 0.6s ease;
}
header .row .item-center .menu ul li a:hover {
  color: rgb(146, 164, 168);
}
header .row .item-right {
  flex: 0 0 17%;
  display: flex;
  justify-content: flex-end;
}
header .row .item-right input {
  width: 131px;
  border-radius: 20px;
  outline: none;
  border: navajowhite;
  background-color: rgba(0, 0, 0, 0.4705882353);
  color: white;
  padding: 3px 19px;
}
header .row .item-right input::-moz-placeholder {
  color: white;
}
header .row .item-right input::placeholder {
  color: white;
}
header .row .item-right a {
  font-size: 16px;
  color: #555555;
  display: inline-block;
  margin-left: 16px;
  transition: color 0.6s ease;
}
header .row .item-right a:hover {
  color: rgb(146, 164, 168);
}

#banner {
  height: 700px;
  display: block;
  background-image: url(/assets/images/2779446942_9_1_1.jpg);
  background-size: cover;
  background-position: center;
}
#banner .banner {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#banner .banner h4 {
  color: white;
  font-size: 90px;
  font-family: "Dancing Script", cursive;
}

#products .products {
  padding: 50px 0;
}
#products .products .owl-theme .item {
  overflow: hidden;
}
#products .products .owl-theme .item:hover img {
  transform: scale(1.1);
}
#products .products .owl-theme .item:hover h4 {
  opacity: 1;
}
#products .products .owl-theme .item img {
  transition: 0.4s;
}
#products .products .owl-theme .item h4 {
  position: absolute;
  top: 0;
  font-weight: 300;
  opacity: 0;
  transition: 0.4s;
  padding: 7px;
  font-size: 19px;
  background-color: rgba(0, 0, 0, 0.342);
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#products .products h3 {
  font-weight: 200;
  letter-spacing: 10px;
}

#best-selling-products {
  padding: 50px;
}
#best-selling-products .best-selling-products .mainRow2 {
  padding: 50px;
}
#best-selling-products .best-selling-products .mainRow2 h3 {
  font-weight: 400;
  font-size: 34px;
}
#best-selling-products .best-selling-products .mainRow2 .card {
  position: relative;
  border: none;
  margin: 6px;
}
#best-selling-products .best-selling-products .mainRow2 .card .actions2 {
  position: absolute;
  left: 30%;
  bottom: 80px;
}
#best-selling-products .best-selling-products .mainRow2 .card .actions {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  -moz-column-gap: 25px;
       column-gap: 25px;
  padding: 10px;
}
#best-selling-products .best-selling-products .mainRow2 .card .actions i {
  padding: 8px;
  border: 1px solid;
  border-radius: 50%;
}
#best-selling-products .best-selling-products .mainRow2 .card .text-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#best-selling-products .best-selling-products .mainRow2 .card .text-side i span {
  font-weight: 300;
  font-size: 15px;
}
#best-selling-products .best-selling-products .mainRow2 .card .text-side h5 {
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 0;
}
#best-selling-products .best-selling-products .mainRow2 .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "Poppins", sans-serif;
}
body #form {
  width: 300px;
  margin: 20vh auto 0 auto;
  padding: 20px;
  background-color: whitesmoke;
}
body #form .input-control {
  display: flex;
  flex-direction: column;
}
body #form .input-control.success input {
  border-color: #09c372;
}
body #form .input-control.error input {
  border-color: #ff3860;
}
body #form .input-control .error {
  color: #ff3860;
}
body #form .input-control:focus {
  outline: 0;
}
body #form .input-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 100%;
}
body #form h1 {
  text-align: center;
  color: #0f2027;
}
body #form button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  color: white;
  background-color: rgb(85, 83, 83);
  border: none;
  border-radius: 4px;
}

#body {
  background-color: #dfe9f5;
}

#nav {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  background: #fff;
  width: 90px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
#nav:hover {
  width: 280px;
}
#nav .logout {
  position: absolute;
  bottom: 0;
}
#nav a {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  width: 300px;
  padding: 10px;
  display: table;
}
#nav a:hover {
  background: #eee;
}
#nav a .fa-solid {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
#nav a .nav-item {
  position: relative;
  top: 12px;
  margin-left: 14px;
}

#admin-section {
  margin-top: 10px;
  margin-left: 100px;
  row-gap: 27px;
  justify-content: center;
  flex-direction: column;
}
#admin-section #select {
  border: navajowhite;
  outline: navajowhite;
  background-color: transparent;
  font-size: 17px;
}
#admin-section #select option {
  border: none;
  outline: none;
}
#admin-section a {
  color: black;
}
#admin-section .addProductBtn {
  padding: 5px 7px;
  margin: 10px;
  background-color: rgb(85, 83, 83);
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
}
#admin-section .searchInput {
  margin: 10px;
  margin-left: 9px;
  width: 100px;
  padding: 0 7px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
  color: black;
}
#admin-section .loadMore {
  background-color: transparent;
}
#admin-section .row {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
#admin-section .row .card:hover .img img {
  transform: scale(1.1);
}
#admin-section .row .card span {
  font-size: 11px;
}
#admin-section .row .card .actions {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: center;
}
#admin-section .row .card .actions a {
  color: black;
}
#admin-section .row .card .actions i {
  font-size: 12px;
}
#admin-section .row .card .img {
  width: 100px;
  overflow: hidden;
}
#admin-section .row .card .img img {
  width: 100%;
  transition: 0.4s;
  box-shadow: 5px -20px 18px 20px rgb(74, 91, 95);
}

body {
  font-family: "Poppins", sans-serif;
}
body #form {
  width: 300px;
  margin: 20vh auto 0 auto;
  padding: 20px;
  background-color: whitesmoke;
}
body #form .input-control {
  display: flex;
  flex-direction: column;
}
body #form .input-control:focus {
  outline: 0;
}
body #form .input-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 100%;
}
body #form h1 {
  text-align: center;
  color: #0f2027;
}
body #form button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  color: white;
  background-color: rgb(85, 83, 83);
  border: none;
  border-radius: 4px;
}

#extra-summer-collaction .img img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
#extra-summer-collaction .tet-side {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
@media only screen and (max-width: 992px) {
  #extra-summer-collaction .tet-side {
    text-align: center;
    align-items: center;
  }
}
#extra-summer-collaction .tet-side h4 {
  font-size: 60px;
}
#extra-summer-collaction .tet-side p {
  font-size: 16px;
}
#extra-summer-collaction .tet-side a {
  border: 1px solid;
  margin-top: 20px;
  color: black;
  width: 120px;
  padding: 10px 8px;
  transition: 0.6s;
  text-align: center;
}
#extra-summer-collaction .tet-side a:hover {
  color: white;
  background-color: rgb(127, 122, 80);
}

#new-trending-outfits {
  padding: 50px;
}
#new-trending-outfits .new-trending-outfits .row .card {
  overflow: hidden;
}
#new-trending-outfits .new-trending-outfits .row .card:hover .content {
  bottom: 0;
}
#new-trending-outfits .new-trending-outfits .row .card img {
  width: 100%;
  height: auto;
}
#new-trending-outfits .new-trending-outfits .row .card .content {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  transition: all 0.6s ease;
  color: white;
  background-color: rgba(0, 0, 0, 0.285);
}
#new-trending-outfits .new-trending-outfits .row .card .content .text {
  position: absolute;
  bottom: 1px;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 190px;
  padding: 10px 20px;
}

#body2 {
  font-family: "Poppins", sans-serif;
  background-image: url(/assets/images/0000002771_9_2_1.jpg);
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
#body2 #form2 {
  width: 300px;
  margin: 20vh auto 0 auto;
  padding: 20px;
  background-color: rgb(245, 245, 245);
}
#body2 #form2 .input-control2 {
  display: flex;
  flex-direction: column;
}
#body2 #form2 .input-control2:focus {
  outline: 0;
}
#body2 #form2 .input-control2 input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 100%;
}
#body2 #form2 h1 {
  text-align: center;
  color: #0f2027;
  font-size: 34px;
}
#body2 #form2 button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  color: white;
  background-color: rgb(139, 50, 0);
  border: none;
  border-radius: 4px;
}/*# sourceMappingURL=main.css.map */