header {
  padding: 10px 5px;
  z-index: 1000;
  left: 0;
  top: 0;
  .cart {
    position: fixed;
    top: 0;
    right: -100%;
    min-height: 100vh;
    padding: 50px 100px 0 30px;
    background-color: #fff;
    &.active {
      right: 0;
    }
    #close {
      position: absolute;
      top: 16px;
    }
    button {
      display: flex;
      margin: 25px auto 0 auto;
      background: transparent;
      padding: 6px 10px;
      border-radius: 18px;
      outline: none;
    }
    .title {
      text-align: center;
      margin-top: 10px;
      font-weight: 600;
    }
    .total {
      display: flex;
      justify-content: flex-end;
      border-top: 1px solid;
      margin-top: 15px;
      padding: 5px;

      h2 {
        font-size: 16px;
      }
    }
    .cart-content {
      .cart-box {
        display: flex;
        column-gap: 15px;
        align-items: center;
        margin-top: 10px;
        // padding: 25px;
        img {
          width: 100px;
          height: 100px;
          object-fit: contain;
        }
      }
      .details-box {
        display: flex;
        row-gap: 5px;
        flex-direction: column;
      }
      .fa-trash-can {
        font-size: 20px;
        color: red;
        cursor: pointer;
      }
    }
  }
  .profile {
    i {
      font-size: 10px;
    }
    img {
      width: 40px;
      border-radius: 50%;
      height: 40px;
      object-fit: cover;
    }
    p {
      font-size: 12px;
      margin: 0;
    }
  }

  .header {
    .shopping-card {
      position: relative;
      .fa-bag-shopping {
        font-size: 23px;
      }
      p {
        color: black;
        font-size: 13px;
        position: absolute;
        bottom: 1px;
        left: 15px;
        border-radius: 50%;
        padding: 0 4px;
        font-size: 8px;
        background: rgb(212, 176, 148);
      }
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    .cart {
      display: flex;
      background-color: antiquewhite;
      justify-content: space-between;
      align-items: center;
      padding: 7px 10px;
      border-radius: 3px;
      width: 80px;
      .fa-solid {
        color: goldenrod;
      }
      span {
        height: 22px;
        width: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 22px;
        background-color: goldenrod;
        color: #fff;
      }
    }
    .fa-bars {
      display: none;
      @media only screen and (max-width: 992px) {
        display: block;
        font-size: 24px;
      }
    }

    h2 {
      font-size: 28px;
      font-weight: 600;
      // color: white;
    }
    nav {
      &.show {
        display: block;
      }
      @media only screen and (max-width: 992px) {
        display: none;
      }
      input {
        background: transparent;
        padding: 5px 6px;
        background-color: rgba(0, 0, 0, 0.282);
        border-radius: 35px;
        border: none;
        &::placeholder {
          color: white;
          padding: 0 5px 0;
        }
      }
      .navUl {
        display: flex;
        align-items: center;
        column-gap: 30px;
        margin: 0;
        padding: 0;
        @media only screen and (max-width: 992px) {
          flex-direction: column;
          position: absolute;
          row-gap: 30px;
          top: 50px;
          right: 0;
        }

        a {
          color: black;
        }
        .dropdown {
          button {
            outline: none;
            border: none;
            background-color: transparent;
            color: black;
          }
          .dropdown-menu {
            border: none;
            outline: none;
            .dropdown-item {
              background-color: transparent !important;
              color: black !important;
            }
          }
        }
      }
    }
  }
}
.cart-content {
  margin-top: 50px;
  .card {
    img {
      width: 100px;
      height: 100px;
    }
  }
}
