#body {
  background-color: #dfe9f5;
}
#nav {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  background: #fff;
  width: 90px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  &:hover {
    width: 280px;
  }

  .logout {
    position: absolute;
    bottom: 0;
  }
  a {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    width: 300px;
    padding: 10px;
    display: table;
    &:hover {
      background: #eee;
    }
    .fa-solid {
      position: relative;
      width: 70px;
      height: 40px;
      top: 14px;
      font-size: 20px;
      text-align: center;
    }
    .nav-item {
      position: relative;
      top: 12px;
      margin-left: 14px;
    }
  }
}
#admin-section {
  margin-top: 10px;
  margin-left: 100px;
  row-gap: 27px;
  // display: flex;
  justify-content: center;
  flex-direction: column;
  #select {
    border: navajowhite;
    outline: navajowhite;
    background-color: transparent;
    font-size: 17px;
    option{
      border: none;
      outline: none;
    }
  }
  a {
    color: black;
  }

  .addProductBtn {
    padding: 5px 7px;
    margin: 10px;
    background-color: rgb(85, 83, 83);
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
  }
  .searchInput {
    margin: 10px;
    margin-left: 9px;
    width: 100px;
    padding: 0 7px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    color: black;
  }
  .loadMore {
    background-color: transparent;
  }
  .row {
    display: flex;
    column-gap: 20px;
    .card {
      &:hover .img img {
        transform: scale(1.1);
      }
      span {
        font-size: 11px;
      }
      .actions {
        display: flex;
        column-gap: 16px;
        align-items: center;
        a {
          color: black;
        }
        i {
          font-size: 12px;
        }
      }
      .img {
        width: 100px;
        overflow: hidden;
        img {
          width: 100%;
          transition: 0.4s;
          box-shadow: 5px -20px 18px 20px rgb(74 91 95);
        }
      }
    }
  }
}

