.bodyForm {
  font-family: "Poppins", sans-serif;
  background-image: url(/assets/images/IMAGE-landscape-default-fill-53c67ecf-62ae-4087-a1a7-2c575c06c8f2-default_0.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  #form {
    width: 400px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: #f5f5f552;;
    .input-control {
      display: flex;
      flex-direction: column;
      &.success input {
        border-color: #09c372;
      }
      &.error input {
        border-color: #ff3860;
      }
      .error {
        color: #ff3860;
      }

      &:focus {
        outline: 0;
      }
      input {
        border: 2px solid #f0f0f0;
        border-radius: 4px;
        display: block;
        font-size: 12px;
        padding: 10px;
        width: 100%;
      }
    }
    h1 {
      text-align: center;
      color: #0f2027;
    }
    button {
      padding: 10px;
      margin-top: 10px;
      width: 100%;
      color: black;
      background-color: rgb(249, 187, 40) !important;
      border: none;
      border-radius: 4px;
    }
  }
}
