#fashion-friendly {
  height: 100vh;
  background-image: url(../../assets/images/7521243804_9_1_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.821);
  .fashion-friendly {
    width: 100%;
    h4 {
      color: white;
      font-size: 43px;
      font-family: "Satisfy", cursive;
      margin: 10px 0;
      margin-top: 120px;
    }
    p {
      color: white;
      font-family: "Satisfy", cursive;
      color: rgb(240, 239, 235);
    }
  }
}
