#new-trending-outfits {
  padding: 90px;
  .new-trending-outfits {
    h3 {
      font-family: "Satisfy", cursive;
      font-size: 45px;
    }
    .mainRow3 {
      .card {
        margin-top: 20px;
        overflow: hidden;
        border: none;
        box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.125);
        border-radius: 50%;
        &:hover .content {
          background-color: rgba(0, 0, 0, 0.136);
        }

        img {
          width: 100%;
          height: auto;
        }
        .content {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 100%;
          transition: all 0.6s ease;
          color: white;

          .text {
            position: absolute;
            bottom: 96px;
            color: white;
            display: flex;
            flex-direction: column;
            row-gap: 190px;
            padding: 10px 20px;
            @media only screen and (max-width: 775px) {
              bottom: 606px;
              left: 20px;
            }
            @media only screen and (max-width: 735px) {
              bottom: 806px;
              left: 20px;
            }
            .text-side {
              h5 {
                color: black;
                font-size: 12px;
                @media only screen and (max-width: 775px) {
                  font-size: 26px;
                }
              }
              i {
                span {
                  font-size: 10px;
                  color: black;
                  @media only screen and (max-width: 775px) {
                    font-size: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
