#profiles {
  margin-left: 260px;
  margin-top: 30px;
  .profiles {
    h3 {
      font-size: 73px;
      font-family: "Caveat", cursive;
    }
  }
  .card {
    border: none !important;
    border-radius: 5px;
    .text-side {
      p {
        font-family: "Caveat", cursive;
        font-size: 23px;
        margin-bottom: 0;
      }
      span {
        font-family: "Caveat", cursive;
        font-size: 23px;
      }
      button {
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 1px solid;
        font-family: "Caveat", cursive;
        font-size: 23px;
      }
    }
    img {
      border-radius: 5px;
      object-fit: cover;
    }
  }
}
