#video-images {
  .video-images {
    position: relative;
    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      cursor: pointer;
    }
    .video-player {
      display: none;
      width: 80%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      video:focus {
        outline: none;
      }
    }
    .feautured-img {
      width: 83%;
      margin: auto;
      position: relative;
      border-radius: 6px;
      overflow: hidden;
      .play-btn {
        width: 60px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
    }
    h1 {
      padding: 60px 0;
      font-size: 44px;
      text-align: center;
      // font-family: "Satisfy", cursive;
    }
    .row1 {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @media only screen and (max-width: 991px) {
        flex-direction: column;
      }
    }
    .col1 {
      flex-basis: 50%;
      min-width: 250px;
      @media only screen and (max-width: 992px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .small-img-row {
        display: flex;
        background-color: #efefef;
        margin: 20px 0;
        align-items: center;
        border-radius: 6px;
        overflow: hidden;
        width: 85%;
        height: 100px;
        // height: 20%;
        p {
          margin-left: 20px;
          color: #707070;
          line-height: 22px;
          font-size: 15px;
          // font-family: "Satisfy", cursive;
        }

        .small-img {
          position: relative;
          .play-btn {
            width: 35px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }

          img {
            width: 150px;
            object-fit: cover;
            // height: 100%;
          }
        }
      }
    }
  }
}
