#about-us{
    height: 100vh;
    background-image: url(../../../assets/about-images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  
}